<!DOCTYPE html>
<html>
<head>
    <link rel="canonical" href="https://benlittle.dev/blog" />
    <title>{{ about.name }} | {{ title }}</title>
    {{#if meta.description}}
    <meta name="description" content="{{ meta.description }}" />
    {{/if}}
    {{> head-common }}
</head>
<body>

{{> header }}

<div id="main">

<section class="w3-container">
<h1>Blog</h1>
{{{ content }}}
</section>

<section id="blog">
{{#each globals.allPosts }}
<article>
    <h3><a href="{{{ this.link }}}">{{ this.title }}</a></h3>
    {{#if this.excerpt}}
    <blockquote>{{ this.excerpt }}</blockquote>
    {{/if}}
    <footer class="w3-right-align">
        <p>Posted: <time>{{humanDate this.date }}</time></p>
        {{#if this.modified }}
        <em>Updated: </em><time>{{humanDate this.modified }}</time>
        {{/if}}
    </footer>
</article>
{{/each}}
</section>

</div>

{{> footer }}
</body>
</html>

