<!DOCTYPE html>
<html>
<head>
    <link rel="canonical" href="https://benlittle.dev" />
    <title>{{ about.name }} | {{ about.tagline }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "email": "mailto:ben.little@benlittle.dev",
        "image": "https://benlittle.dev/assets/profile.jpg",
        "jobTitle": "Software Engineer and Mathematician",
        "name": "{{ about.name }}",
        "url": "https://benlittle.dev",
        "alumniOf": [
          "https://www.psu.edu/",
          "https://www.colorado.edu"
        ],
        "gender": "masculine agender",
      }
    </script>
    {{> head-common }}
    {{> head-common }}
</head>
<body>

{{> header }}

<main>

<section id="about">
    <div id="profile">
        <img
          id="profile-picture"
          src="/assets/profile.jpg"
          alt="Ben smiles for the camera"
        >
        <div id="identity">
          <h1>{{{ about.name }}}</h1>
          <h3><a
            href="https://pronouns.org/what-and-why"
            class="external"
          >
            {{{ about.pronouns }}}
          </a></h3>
          <h3>{{{ about.tagline }}}</h3>
        </div>
    </div>

    <div class="content">
        {{{ content }}}
    </div>
</section>

<section id="hire-me">
  <h2>Hire Me</h2>
  <p>{{{ hire_me }}}</p>
  <div class="row">
    <!-- Resume Card -->
    <div class="w3-card">
      <header class="w3-container">
        <h3>Resume/CV</h3>
      </header>
      <div class="w3-container content">
        {{{ resume.excerpt }}}
      </div>
      <footer class="w3-right-align">
          <a href="/resume">View Resume</a>
      </footer>
    </div>
    <!-- Cover Letter Card -->
    <div class="w3-card">
      <header class="w3-container">
        <h3>Cover Letter</h3>
      </header>
      <div class="w3-container content">
        {{{ cover_letter.excerpt }}}
      </div>
      <footer class="w3-right-align">
          <a href="/hire.html">View Cover Letter</a>
      </footer>
    </div>
  </div>
</section>

<section id="blog">
<div class="w3-cell-row w3-margin-bottom">
    <div class="w3-cell"><h2>Blog</h2></div>
    <div class="w3-cell w3-right-align"><p><a href="/blog">More Posts</a></p></div>
</div>
<div id="blog-recent-posts">
{{#each globals.recentPosts }}
    <article>
        <h3><a href="{{{ this.link }}}">{{ this.title }}</a></h3>
        {{#if this.excerpt}}
        <blockquote>{{ this.excerpt }}</blockquote>
        {{/if}}
        <footer class="w3-right-align">
            <p>Posted: <time>{{humanDate this.date }}</time></p>
            {{#if this.modified }}
            <em>Updated: </em><time>{{humanDate this.modified }}</time>
            {{/if}}
        </footer>
    </article>
{{/each}}
</div>
<div class="w3-cell-row w3-margin-bottom">
    <div class="w3-cell w3-right-align"><p><a href="/blog">More Posts</a></p></div>
</div>
</section>

</main>

{{> footer }}
</body>
</html>
