<!DOCTYPE html>
<html>
<head>
    <link rel="canonical" href="https://benlittle.dev" />
    <!--TODO warn on title with more than 50 chars-->
    <title>{{ about.name }} | {{ about.tagline }}</title>
    <!--TODO warn on description with more than 150 chars-->
    <meta name="description" content="{{ meta.description }}" />
    {{> head-common }}
</head>
<body>

{{> header }}

<div id="main">

<section id="about" class="w3-container lit-row">
    <div id="profile-picture-container" class="lit-half w3-center w3-container">
        <img
          id="profile-picture"
          class="w3-image"
          src="/assets/profile.jpg"
          alt="Ben smiles for the camera"
        >
    </div>

    <div class="lit-half w3-container">
        {{{ content }}}
    </div>
</section>

<section id="blog" class="w3-container">
<div class="w3-cell-row w3-margin-bottom">
    <div class="w3-cell"><h2>Blog</h2></div>
    <div class="w3-cell w3-right-align"><p><a href="/blog">More Posts</a></p></div>
</div>
<div id="blog-recent-posts">
{{#each globals.recentPosts }}
    <article>
        <h3><a href="{{{ this.link }}}">{{ this.title }}</a></h3>
        {{#if this.excerpt}}
        <blockquote>{{ this.excerpt }}</blockquote>
        {{/if}}
        <footer class="w3-right-align">
            <p>Posted: <time>{{humanDate this.date }}</time></p>
            {{#if this.modified }}
            <em>Updated: </em><time>{{humanDate this.modified }}</time>
            {{/if}}
        </footer>
    </article>
{{/each}}
</div>
<div class="w3-cell-row w3-margin-bottom">
    <div class="w3-cell w3-right-align"><p><a href="/blog">More Posts</a></p></div>
</div>
</section>

</div>

{{> footer }}
</body>
</html>
