doctype html
html(lang="en" encoding="utf8")
  head
    title= title
    meta(charset="utf-8")
    if noindex
      meta(name="robots", content="noindex")
    else
      if canonical
        link(rel="canonical", href=canonical)
      else
        link(rel="canonical", href="https://benlittle.dev" + _path)
    link(rel="stylesheet", href="/styles/common.css")
    if styles
      each style in styles
        link(rel="stylesheet", href="/styles/" + style + ".css")
    script(
      src="https://kit.fontawesome.com/acb0444af5.js",
      crossorigin="anonymous",
    )
    if !_global.release
      script(type="text/javascript").
        (new WebSocket("ws://127.0.0.1:9001")).addEventListener("message", _ => location.reload());
  body
    header
      include header.pug
    main
      .metadata
        if published
          .published
            p Published
            time(datetime=published) #{humanDate(published)}
        if modified
          .modified
            p Last Update
            time(datetime=modified) #{humanDate(modified)}
      .content.
        !{_inner_html}
    footer
      include footer.pug
