<!DOCTYPE html>
<html>

<head>
    <!--TODO warn on title with more than 50 chars-->
    <title>Ben Little | {{ title }}</title>
    <!--TODO warn on description with more than 150 chars-->
    {{#if excerpt}}
    <meta name="description" content="{{ excerpt }}" />
    {{else}}
    <meta name="description" content="A post from Ben's blog." />
    {{/if}}
    {{> head-common }}
</head>

<body>

    {{> header }}

    <main>
        <section class="overview">
            <h1>{{{ title }}}</h1>
            {{#if excerpt }}
            <p class="excerpt"><em>{{{ excerpt }}}</em></p>
            {{/if}}
        </section>
        {{#if sensitive }}
        {{> content-warning }}
        {{/if}}
        <section class="content">
            {{{ content }}}
        </section>
    </main>

    {{> footer }}
</body>

</html>